{{template "admin" .}}

{{ define "title"}}
Admin Reservations Calendar
{{end}}

{{define "page-title"}}
Reservation Calendar
{{end}}

{{define "content"}}
<div class="col-md-12">
    Reservation Calendar
</div>
{{end}}