{{template "admin" .}}

{{ define "title"}}Admin DashBoard{{end}}

{{define "page-title"}}
    Dashboard
{{end}}

{{define "content"}}
    <div class="col-md-12">
        Dashboard content
    </div>
{{end}}